;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies [[proto-repl "0.3.1"]
                [reagent "1.0.0"]
                [compliment "0.3.11"]]

 :dev-http {8091 "public"}

 :nrepl {:port 3333}
 :repl-options {:init-ns main.shadowapp
                :init (in-ns 'main.shadowapp)}

 :builds {:frontend
           {:target :browser
            :modules  {:main
                        {:init-fn main.shadowapp/mount-root}}
            :devtools {:preloads [main.shadowapp]
                       :after-load main.shadowapp/after-load}}}}
